
.wdcmaps .page-maps .mapstore-header {
    height: 200px;
	top: -20px;
	bottom: 0;
}


#mapstore-grid-home {
    top: -60px;
    position: relative;
    bottom: 0px;
}

.wdcmaps div#mapstore-maptype {
    margin-bottom: 10px;
}
.wdcmaps #mapstore-grid-home div.theme-switcher.form-group.form-group-sm {
    margin-bottom: 10px;
}

.wdcmaps .ms-footer {
    margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.wdcmaps .pagination {
    margin: 0px;

}

.container-fluid {
	margin-bottom: 10px;
}
