
.page-maps .mapstore-header {
    height: 200px;
	top: -20px;
	bottom: 0;
    background-image: url('/js/assets/themes/wdc/Taylors-Bay-Mahia-Banner-Home.jpg');
}


#mapstore-grid-home {
    top: -60px;
    position: relative;
    bottom: 0px;
}

div#mapstore-maptype {
    margin-bottom: 10px;
}
#mapstore-grid-home div.theme-switcher.form-group.form-group-sm {
    margin-bottom: 10px;
}

.ms-footer {
    margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.pagination {
    margin: 0px;

}

.container-fluid {
	margin-bottom: 10px;
}
